* {
  border-radius: 10px;
  background: #fff;
  margin: 10px;
}

.task-card {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
}

.btn {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.edit-btn {
  background: lightgreen;
}

.del-btn {
  background: lightcoral;
}

.checkbox {
  display: flex;
  align-items: center;
  transform: scale(1.2);
}

.task-title {
  display: flex;
  align-items: center;
}

.done {
  text-decoration: line-through;
}

.dialog-box form {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dialog-box input {
  grid-column: 1 / span 2;
  padding: 15px;
}

dialog:modal {
  top: 35%;
  left: 35%;
}
