<div #taskCard class="task-card {{cardIndex}}">
  <div class="checkbox">
    <form>
      <input type="checkbox" class="checkbox {{cardIndex}}" (change)="onCheckboxSelect($event)">
    </form>
  </div>
  <div #taskTitle class="task-title {{cardIndex}}" [ngClass]="className">
    {{task}}
  </div>
  <div class="buttons {{cardIndex}}">
    <button class="edit-btn btn {{cardIndex}}" (click)="editTask($event)">Edit</button>
    <button class="del-btn btn {{cardIndex}}" (click)="deleteTask($event)">Del</button>
  </div>
</div>

<div class="dialog-container">
  <dialog #dialog class="dialog-box">
    <form (submit)="editTitle($event)">
      <input type="text" class="edit-field">
      <button type="submit" class="edit">Ok</button>
      <button class="calcel" (click)="closeDialog($event)">Cancel</button>
    </form>
  </dialog>
</div>
