<div class="main">
  <div class="date-time">
    <app-date-time></app-date-time>
  </div>
  <div class="header">
    <div></div>
    <div class="title">
      <h1>TODO LIST</h1>
      <div class="insertion">
        <form class="insertion-form">
          <input type="text" class="insertion-bar" placeholder="Things you want to do today?"
            (keydown.enter)="onKeyEnter($event)">
        </form>
      </div>
    </div>
    <div class="select-all">
      <form class="select-all-form">
        <input type="checkbox" class="select-all">
        <label>Sellect All</label>
      </form>
    </div>
  </div>
  <div class="task" *ngFor="let t of tasks">
    <app-task-card [task]="t"></app-task-card>
  </div>
  <div class="uncompleted-tasks">
    <p>{{tasks.length}} uncompleted tasks</p>
  </div>
  <div class="completed-tasks">
  </div>
</div>
