<div class="main">
  <div class="date-time">
    <app-date-time></app-date-time>
  </div>
  <div class="header">
    <div></div>
    <div class="title">
      <h1>TODO LIST</h1>
      <div class="insertion">
        <form #insertionForm class="insertion-form">
          <input type="text" class="insertion-bar" placeholder="Things you want to do today?"
            (keydown.enter)="onKeyEnter($event)">
        </form>
      </div>
    </div>
    <div class="select-all">
      <form #selAllForm class="select-all-form">
        <input type="checkbox" class="select-all"
          [checked]="selectedCounter == listService.myList.value.length || listService.flag"
          (change)="onAllDone($event)">
        <label>All Done</label>
      </form>
    </div>
  </div>
  <div class="task" *ngFor="let t of listService.myList.value">
    <app-task-card [(selectedCounter)]="selectedCounter" [task]="t">
    </app-task-card>
  </div>
  <div class="footer">
    <div class="uncompleted-tasks">
      <p>{{listService.myList.value.length}} uncompleted tasks</p>
    </div>
    <div class="delete-selected" (click)="deleteDone()">
      <button #delSelected class="del-btn btn del-selected" [ngClass]="{
            'hidden': selectedCounter < 1
          }">Delete Done</button>
      <button class="del-btn btn" (click)="deleteAll()">Delete All</button>
    </div>
  </div>
