* {
  font-size: 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

.main {
  background-color: rgb(230, 230, 230);
  border-radius: 35px;
  padding: 50px;
  margin: 100px;
}

.bottom-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 10px;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.date-time {
  width: 400%;
}

.auth {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 15px;
  align-items: center;
}

.auth-btn {
  padding: 25px;
  background: orange;
}

input {
  padding: 5px;
  width: 100%;
  border-radius: 8px;
}

.select-all-form {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.select-all {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;
}

.del-btn {
  background: lightcoral;
  margin: 10px;
  padding: 20px;
}

.delete-selected {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: none;
}
